.page-chiropractor
  background-image: url(/images/chiropractor.png)
  background-size: cover
  background-attachment: fixed
  background-position: center center

.post-header
  background: $brand
  color: white
  font-size: 10px

.post-title
  color: white
  font-size: 1.5rem
  margin-right: 2rem

.blog-title
  color: white
  font-weight: 200
  text-align: center

.post-excerpt
  background: #D8D8D8
  margin-bottom: 2rem
  padding: 0.5rem
  p
    margin-bottom: 0rem
  a
    color: $secondary

.optin-wrapper
  color: white

.blog-optin
  input[type="email"]
    color: white
    width: 90%
    display: inline-block
    background: transparentize(white, 0.4)
    border-width: 0
    @include placeholder
      color: white
    &:focus
      @include placeholder
        color: transparent
  input[type="submit"]
    border: 2px solid white
    background: transparent
    font-weight: bold
    padding: 0.45rem
    @include transition(0.3s)
    &:hover
      background: white
      color: #BE957B
