.page-chiropractor
  background-image: url(/images/chiropractor.png)
  background-size: cover
  background-attachment: fixed
  background-position: center center

.post-header
  background: $brand
  color: white
  font-size: 10px

.post-title
  color: white
  font-size: 1.5rem
  margin-right: 2rem

.blog-title
  color: white
  font-weight: 300
  text-align: center

.posted-by
  font-size: rem(10)

.post-excerpt
  background: #D8D8D8
  margin-bottom: 2rem
  padding: 0.5rem
  p
    margin-bottom: 0rem
  a
    color: $secondary

.optin-wrapper
  color: white
  p
    font-size: 1.3rem

.blog-optin
  +display(flex)
  +justify-content(space-between)
  height: 2.4375rem
  margin-bottom: 2rem
  input[type="email"]
    color: white
    width: 100%
    display: inline-block
    background: transparentize(white, 0.6)
    border-width: 0
    margin-right: 0.7rem
    +transition(1s, cubic-bezier(0, -0.05, 0.19, -0.49))
    +placeholder
      color: white
    &:focus
      +placeholder
        color: transparent
      background: white
      color: $brand
  input[type="submit"]
    border: 2px solid white
    background: transparent
    font-weight: bold
    padding: 0.45rem
    +transition(0.3s)
    &:hover
      background: white
      color: #BE957B
