#socials-top
  .socials
    list-style-type: none
    text-align: right
    margin-right: 1rem
    li
      display: inline
      margin: 0.5rem
    a
      text-decoration: none
  svg
    @include size(2rem)
    fill: white
