.nav-wrap
  +display(flex)
  +align-items(flex-end)

.nav-logo
  display: inline
  svg
    width: rem(50)
  .title
    color: white
.main-nav
  text-align: right
  +text-decoration-style(double)
  li
    display: inline-block


.submenu
  display: none
