<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{page.class}}">
    {% include nav.html %}
    <div class="row">
      <div class="small-12 columns">
        <h1 class="blog-title">{{page.title}}</h1>
      </div>
    </div>

    {% include blog-optin.html %}
    {{ content }}
    {% include pagination.html %}
    <footer>
      <div class="row">
        <div class="small-12 columns">
          <a href="#">Privacy Policy</a>
          <p>&copy; {{ site.time | date: '%Y' }} Vyral Marketing</p>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>  
      <script src="/js/main.js"></script>
      <script src="/js/audioplayer.js"></script>
      <script>$( function() { $( 'audio' ).audioPlayer(); } );</script>
    </footer>
  </body>
</html>
